<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/listaudit"> liste audit </ion-item>
      <ion-item routerLink="/parametrage">Paramétrage</ion-item>
      <ion-item routerLink="/listchecklist">Faire un audit</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Audit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Audit</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <h1>My Audit</h1>
  </div>
</ion-content>
